.header__button__menu {
  display: none;
  transform: scale(0.8);
  cursor: pointer;
  z-index: 1;
  position: fixed;
}
.header__button__menu div {
  width: 60px;
  height: 8px;
  background-color: grey;
  margin: 10px;
  border-radius: 2px;
  transition: transform ease-in-out 0.1s;
}

/* modificações JavaScript animação button */
.js-header__button__menu--active {
  top: 10px;
}
.js-header__button__menu--active > div {
  position: relative;
  margin: 0px 10px;
}
.js-header__button__menu--active > :nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
}
.js-header__button__menu--active > :nth-child(2) {
  transform: rotate(45deg);
}
.js-header__button__menu--active > :nth-child(3) {
  transform: rotate(-45deg);
  top: -8px;
}

@media (max-width: 860px) {
  .header__button__menu {
    display: block;
    position: relative;
    right: 25px;
    height: 60px;
    width: 60px;
  }
}
