.s-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #323232;
  width: 100%;
  height: auto;
}
.s-main-container {
  width: 80vw;
  padding-bottom: 300px;
  display: grid;
  grid-template-rows: 200px 200px 280px 280px 280px;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 120px;
  transition: width ease-in-out 0.6s;
}

@media (max-width: 1300px) {
  .s-main-container {
    width: 98%;
  }
}

@media (max-width: 1023px) {
  .s-main-container {
    display: flex;
    flex-direction: column;
  }
}
