.s-about-me {
  width: 100%;
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
  transition: width ease-in-out 0.2s;
}

/* Header Tabs */
.s-about-me__tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  gap: 4px;
}
.s-about-me__tabs > div {
  width: 100%;
  height: 40px;
  background-color: #d9d9d9;
  display: grid;
  place-items: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: solid 1px #fff;
}
.s-about-me__tabs p {
  font-weight: bold;
  font-size: 0.9rem;
}

.s-about-me__tabs > div:hover > p {
  color: #fff;
}
.s-about-me__tabs > div:hover {
  background-color: #000;
  cursor: pointer;
}

/* Text Box */

.s-about-me__text-box {
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 30px;
}
.s-about-me__text-box > li > ol > li:hover {
  font-weight: bold;
  text-shadow: 0 0 #000;
}

.s-about-me__text-box > li {
  list-style: none;
}
.s-about-me__text-box > li > ol {
  margin-left: 120px;
}

@media (max-width: 1023px) {
  .s-about-me__tabs p {
    font-weight: bold;
    font-size: 0.7rem;
    width: max-content;
  }
  .s-about-me__text-box > li {
    font-size: 0.8rem;
  }
}
